<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Spam or Ham detection </title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/demo.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/templatemo-style.css') }}">


  <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.86080.js') }}"></script>

	</head>

	<body>
			<div id="particles-js"></div>

			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>SPAM OR HAM DETECTION</h1></header>
					<P class="mb-5">Enter the mail and check wether it's spam or ham!</P>

                    <form action="#" method="POST" class="subscribe-form">

               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                      <input type="text" class="form-control" name="nm" placeholder="Your mail..." required/>
						</div></h1><h1></h1>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<button type="submit" class="tm-btn-subscribe">Check it!</button>
							</div>
						<h1>
						</h1></form>
					</div></div>
<h3><header class="mb-5"><P class="mb-5">{{n}}</P>
						<P class="mb-5"></P>
{% if usr==1%} This Email is Spam! {% endif %} {% if usr==0%} This Email is Ham! {% endif %}</h3></header>
					<div class="tm-social-icons-container text-xs-center">
	                    <a href="#" class="tm-social-link"</i></a>
	                    <a href="#" class="tm-social-link"></i></a>
	                    <a href="#" class="tm-social-link"></i></a>
	                    <a href="#" class="tm-social-link"></i></a>
	                </div>

					</div>
				</div>
				<div class="footer-link">
					<p>Copyright © 2022 Khushi Pitroda
                    </p>
				</div>
			</div>
	</body>

	<script type="text/javascript" src="{{ url_for('static', filename='js/particles.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>
